body {
  font-family: 'Raleway', sans-serif !important;
  margin: 10px;
  padding: 0;
}
.react-grid-item.react-grid-placeholder {
  background: white;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}